/*task open sans import font family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

/*task creo variabile CSS globale */
:root {
  --mainColor: #0282F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

/** ------------utilities------------- */
.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  text-transform: uppercase;
  justify-content: space-evenly;
  align-items: center;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

/** ------------Header------------- */
header {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img,
main+nav img {
  width: 3rem;
}

header>nav>ul {
  display: flex;
  gap: 15px;
  font-size: small;
  font-weight: 600;
  line-height: 20px;
}

.active {
  color: var(--mainColor);
  box-shadow: 0 5px 2px -3px var(--mainColor);

  /* box-shadow: #0282F9; */
  /* border-bottom: 2px solid #0282F9; */
}

header>nav>ul>li>a:hover {
  color: var(--mainColor);
  /* padding-bottom: 10px;
  border-bottom: 2px solid #0282F9; */
  box-shadow: 0 5px 2px -3px var(--mainColor);
}


/** ------------Main------------- */

main {
  background-color: black;
  color: white;
  padding-block: 2rem;

}

.jumbotron {
  height: 55vh;
  background-image: url("./assets/img/jumbotron.jpg");
  background-size: cover;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  bottom: -1rem;
  left: 5rem;
}

.comicShelf {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
  padding-block: 3rem;
}

.card {
  flex-basis: calc(100% / 6 - 1rem);
}

figure>img {
  width: 190px;
  height: 300px;
  object-fit: cover;
}

h4 {
  text-transform: uppercase;
}

.comicBtn {
  text-transform: uppercase;
  border: 1px solid var(--mainColor);
  padding: 8px;
  background-color: var(--mainColor);
}

.jself {
  justify-self: center;
}

.comicBtn a {
  color: white;
}

.comicBtn a:hover {
  color: black;
}

main+nav {
  font-size: small;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--mainColor);
  padding-block: 1rem;
}

main+nav ul li a:hover {
  scale: 1.5;
}

nav>ul {
  display: flex;
}

/** ------------Footer------------- */

footer {
  font-size: small;
  background-image: url("./assets/img/footer-bg.jpg");
  background-size: cover;
  font-size: small;
}

.footerLogo {
  background-image: url("./assets/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 2rem;
  padding-left: 8rem;
  display: flex;
  width: 90%;
}

.bgFooter {
  background-color: rgb(60, 60, 60);
}

div ul {
  padding: 1rem;
}

/* maledetti a! */
.title {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

div>ul>li>a {
  color: grey;
  text-transform: capitalize;
  padding: 2px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.btn {
  border: 1px solid var(--mainColor);
  padding: 7px;
}

.btn :hover {
  color: var(--mainColor);
}

.contacts img {
  width: 24px;
}

.contacts ul {
  display: flex;
  gap: 2px;
}


.contacts>ul>li>a:hover {
  scale: 1.2;
  filter: brightness(0);
}

.blue {
  color: var(--mainColor);
}