/*task open sans import font family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/** ------------utilities------------- */
.container {
  width: 80%;
  margin: 0 auto;
}

/** ------------Header------------- */
header {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure>img {
  width: 4rem;
}

header>nav>ul {
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  gap: 15px;
  font-size: small;
  color: black;
}


.active {
  color: #0282F9;
  box-shadow: #0282F9;
}





/** ------------Main------------- */
main {
  background-color: black;
  color: white;
  height: 20vh;
  text-align: center;
  padding-block: 20px;
}

main>nav {
  display: flex;
  justify-content: space-around;
  background-color: #0282F9;

}








/** ------------Footer------------- */